---
layout: default
title: Home
---

<p class="nav">
{% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}">older</a>
{% else %}
  older
{% endif %}
&middot;
{% if paginator.previous_page %}
  <a href={% if paginator.previous_page == 1 %}"/"{% else %}"{{ paginator.previous_page_path }}"{% endif %}>newer</a>
{% else %}
  newer
{% endif %}
&middot;
{% if paginator.previous_page %}
  <a href="/">latest</a>
{% else %}
  latest
{% endif %}
</p>
<dl>
{% for post in paginator.posts %}
  <dt>{{ post.date | date_to_string }} &middot; <a href="{{ post.url }}">{{ post.title }}</a><dt>
  <dd>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</dd>
{% endfor %}
</dl>
