<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/main.css">
    <title>HvZ {{ page.title }}</title>
  <script type="text/javascript" language="JavaScript">
    gen_onclick = function( style ) {
      return function() {
        if ( style.display == "none" ) {
          style.display = "block";
          this.innerHTML = "Less";
        }
        else {
          style.display = "none";
          this.innerHTML = "More";
        }
      };
    };
    window.onload = function() {
      var more = document.getElementsByClassName( "more" );
      previous = null;
      for ( var i = 0; i < more.length; i++ ) {
        more[i].style.display = "none";
        var newp = document.createElement( "p" );
        var newa = document.createElement( "a" );
        newa.setAttribute( "href", "javascript:;" );
        for ( var m = more[i]; m != previous; m = m.previousSibling ) {
          if ( m.id ) {
            newa.setAttribute( "href", "#" + m.id );
            break;
          }
        }
        newa.innerHTML = "More";
        newa.onclick = gen_onclick( more[i].style );
        newp.appendChild( newa );
        more[i].parentNode.insertBefore( newp, more[i].nextSibling );
        previous = more[i];
      }
      console.log( "everything loaded" );
    };
  </script>
  </head>
  <body>
    <img style="float: right; padding: 20px;" src="/images/hvzlogo.png"></img>
    <div id="header_wrap" class="outer">
      <header class="inner">
        <h1>Hoitinga &middot; Van&nbsp;Zwieten</h1>
        <h2>
          <span class="sec">
            <a href="/">home</a>
            {% if page.title == "Home" %}
              <span class="arrow-down"></span>
            {% endif %}
          </span>
          <span class="sep">&middot;</span>
          <span class="sec">
            <a href="/whatwedo.html">what&nbsp;we&nbsp;do</a>
            {% if page.title == "What we do" %}
              <span class="arrow-down"></span>
            {% endif %}
          </span>
          <span class="sep">&middot;</span>
          <span class="sec">
            <a href="/whoweare.html">who&nbsp;we&nbsp;are</a>
            {% if page.title == "Who we are" %}
              <span class="arrow-down"></span>
            {% endif %}
          </span>
          <span class="sep">&middot;</span>
          <span class="sec">
            <a href="/references.html">references</a>
            {% if page.title == "References" %}
              <span class="arrow-down"></span>
            {% endif %}
          </span>
          <span class="sep">&middot;</span>
          <span class="sec">
            <a href="/contact.html">contact</a>
            {% if page.title == "Contact" %}
              <span class="arrow-down"></span>
            {% endif %}
          </span>
        </h2>
      </header>
    </div>
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h2>{{ page.title }}</h2>
        {{ content }}
      </section>
    </div>
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>
  </body>
</html>
